.definition-div {
    font-family: monospace;
    font-size: 16px;
    padding-bottom: 2em;
    padding-right: 2em;
    background-color: rgba(43, 37, 37, 0.105);
}

.definition-list::marker {
    list-style-position: inside;
    list-style: disc;
}

.not-available {
    color:red;
}