.app {
    background-color: rgb(43, 37, 37);
}

.app-heading {
    display: flex;
    justify-content: center;
    color: cornsilk;
    padding-top: 3em;
    padding-bottom: 3em;
    background-color: lightcoral;
}

footer {
    color:honeydew;
    display: flex;
    justify-content: center;
    padding-bottom: 2em;
}