.app {
    background-color: rgb(43, 37, 37);
}

.app-heading {
    display: flex;
    justify-content: center;
    color: tomato;
    padding-top: 3em;
    padding-bottom: 3em;
    background-color: lavenderblush;
}

footer {
    color:honeydew;
    display: flex;
    justify-content: center;
}